<div class="container-fluid">
    <div class="title">About [Name of Business]</div>
        <div class="row">
        <div class="col-md-5">
            <img class="main_img img-responsive" src="../../../assets/images/img.jpg" alt="">
        </div>
        <div class="col-md-7 about">
            <p>Arnav Technosys has been providing Web Development services for over 5+ years. Located
            in Yeola, Dist: Nashik, India, Arnav Technosys offers a wide range of IT services ranging
            from Software Development, Website Designing, e-commerce on-line solutions, IT solutions.
            With professionals, Arnav Technosys offers new and innovative Web services, a wide range
            of Internet & Web related technology solutions, Software Solutions, Android Apps
            Development in India.</p>
            <p>We are committed to excellence in our services and work towards delivering high quality IT
            services to our customers. We provide value to our customers benefits such as flexible,
            experienced professionals and insurance outsourcing services, proven processes and
            better quality work. We also built the core values ??of Quality, Reliability and Safety.</p>
        </div>
    </div>
</div>

<div class="info_container">
        <div class="row">
            <div class="col-md-6">
                <div class="info_header">Why us?</div>
                <p class="info_content">We are committed to excellence in our services and work towards delivering high quality IT
                    services to our customers. We provide value to our customers benefits such as experienced professionals and insurance outsourcing services, proven processes and
                    better quality work.</p>
            </div>
            <div class="col-md-6">
                <div class="info_header">How to get service from us?</div>
                <p class="info_content">We are committed to excellence in our services and work towards delivering high quality IT
                    services to our customers. We provide value to our customers benefits such as experienced professionals and insurance outsourcing services, proven processes and
                    better quality work.</p>
            </div>
        </div>
</div>

<div class="business_container">
    <div class="business_header">Business Information</div>
        <div class="business_content">
            <span class="business_title">Business Name : &nbsp;</span>[Business Name Here]
            <br><span class="business_title">Owner Name : &nbsp;</span>[Business Owner/Contact Person]
            <br><span class="business_title">Location : &nbsp;</span>[Area/Locality/City]
            <br><span class="business_title">Contact : &nbsp;</span>[XXXXXXXXXX/XXXXXXXXXX]
        </div>
</div>





