.serv_title{
    font-size: 25px;
    font-weight: 500;
    border-bottom: 5px solid orange;
    width: 40%;
    margin: 1% 0 5% 4%;
}

.serv_img{
    height: 100%;
    width: 70%;
    margin: 0% 10% 0% 5%;
}

.serv_desp{
    margin: 5% 5%;
    text-align: justify;
}

.ser_container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/images/service.jpg);
    margin: 25% 8% 8% 8%;
    padding: 5%;
}

.tab_right{
    padding: 15px;
}

.tab_right a{
    color: white;
}

.icon{
    color: white;
    margin-right: 5%;
}