<div class="container-fluid row">
  <div class="col-md-8">
      <div class="tab-content">
            <div class="tab-pane active" id="wdg">
              <div class="serv_title">Web Design</div>
                <img class="serv_img" src="../../../assets/images/course_5.jpg" alt="Not found">
                  <div class="serv_desp">
                    <p>
                        Our team of experts treats every client independently;
                        we place great focus on your demands and are honestly fascinated in the success of your business. 
                        We have the abilities to turn your whole online project into a huge success.
                    </p>
                    <p>
                        At Arnav Technosys, we closely follow new trends in all aspects of Web Designing, 
                        Software & Web Development and provide a solution that effectively implements fresh 
                        ideas and innovative approach. Our team of experts treats every client independently;
                        we place great focus on your demands and are honestly fascinated in the success of your business. 
                        We have the abilities to turn your whole online project into a huge success.
                    </p>
                  </div>
            </div>
            <div class="tab-pane" id="wdv">
              <div class="serv_title">Web Development</div>
                <img class="serv_img" src="../../../assets/images/course_4.jpg" alt="Not found">
                  <div class="serv_desp">
                    <p>
                        defrkutjyrth uyrhgffrgty6u7 ely follow new trends in all aspects of Web Designing, 
                        Software & Web Development and provide a solution that effectively implements fresh 
                        ideas and innovative approach. Our team of experts treats every client independently;
                        we place great focus on your demands and are honestly fascinated in the success of your business. 
                        We have the abilities to turn your whole online project into a huge success.
                    </p>
                    <p>
                        ghytujkiy7lotkuli7rdty htre tjyht5 5rthyujtt and provide a solution that effectively implements fresh 
                        ideas and innovative approach. Our team of experts treats every client independently;
                        we place great focus on your demands and are honestly fascinated in the success of your business. 
                        We have the abilities to turn your whole online project into a huge success.
                    </p>
                  </div>
            </div>
            <div class="tab-pane" id="md">
              <div class="serv_title">Mobile App Development</div>
                <img class="serv_img" src="../../../assets/images/course_6.jpg" alt="Not found">
                  <div class="serv_desp">
                    <p>
                        At Arnav Technosys, we closely follow new trends in all aspects of Web Designing, 
                        Software & Web Development and provide a solution that effectively implements fresh 
                        ideas and innovative approach. Our team of experts treats every client independently;
                        we place great focus on your demands and are honestly fascinated in the success of your business. 
                        We have the abilities to turn your whole online project into a huge success.
                    </p>
                    <p>
                        efrgthymjhy hg5re frgtyjujthytf sfegrthyyjuthe a solution that effectively implements fresh 
                        ideas and innovative approach. Our team of experts treats every client independently;
                        we place great focus on your demands and are honestly fascinated in the success of your business. 
                        We have the abilities to turn your whole online project into a huge success.
                    </p>
                  </div>
            </div>
            <div class="tab-pane" id="sd">
              <div class="serv_title">Software Development</div>
                <img class="serv_img" src="../../../assets/images/course_7.jpg" alt="Not found">
                  <div class="serv_desp">
                    <p>
                        Software & Web Development and provide a solution that effectively implements fresh 
                        ideas and innovative approach.rgthy7u8 ret5y6u7i8 efwrgt56u7 Our team of experts treats every client independently;
                        we place great focus on your demands and are honestly fascinated in the success of your business. 
                        We have the abilities to turn your whole online project into a huge success.
                    </p>
                    <p>
                        we place great focus on your demands and are honestly fascinated in the success of your business. 
                        We have the abilities to turn your whole online project into a huge success. 
                        At Arnav Technosys, we closely follow new trends in all aspects of Web Designing, 
                        Software & Web Development and provide a solution that effectively implements fresh 
                        ideas and innovative approach. Our team of experts treats every client independently;
                    </p>
                  </div>
            </div>
    </div>
  </div>  

  <div class="col-md-4">
    <div class="ser_container">
      <ul class="navbar-nav nav">
        <li class="tab_right active"><i class="icon fa fa-angle-right"></i><a href="#wdg" data-toggle="tab">Web Design</a></li>
        <li class="tab_right"><i class="icon fa fa-angle-right"></i><a href="#wdv" data-toggle="tab">Web Development</a></li>
        <li class="tab_right"><i class="icon fa fa-angle-right"></i><a href="#md" data-toggle="tab">Mobile App Development</a></li>
        <li class="tab_right"><i class="icon fa fa-angle-right"></i><a href="#sd" data-toggle="tab">Software Development </a></li>
      </ul>
    </div>
  </div>
</div>